:root {
  --color-background: #fbf1c7;
  --color-background-soft: #f2e5bc;
  --color-background-mute: #ebdbb2;
  --color-border: #d5c4a1;
  --color-border-hover: #bdae93;
  --color-heading: #3c3836;
  --color-text: #504945;
  --section-gap: 120px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1d2021;
    --color-background-soft: #282828;
    --color-background-mute: #3c3836;
    --color-border: #504945;
    --color-border-hover: #665c54;
    --color-heading: #fbf1c7;
    --color-text: #ebdbb2;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.2s,
    background-color 0.2s;
  line-height: 1.5;
  font-family:
    'Google Sans',
    'JetBrains Mono',
    'IBM Plex Mono',
    'Fira Code',
    ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    'Liberation Mono',
    'Courier New',
    monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
